
<h2>Expenses</h2>
<form action="/expenses/add" method="post" class="form-horizontal">
  <div class="form-group">
    <label for="inputExpenseName" class="col-sm-2 control-label">Expense</label>
    <div class="col-sm-10">
      <input type="text" name= "name" class="form-control" id="inputExpenseName" placeholder="Expense">
    </div>
  </div>
  <div class="form-group">
    <label for="inputValue" class="col-sm-2 control-label">Value</label>
    <div class="col-sm-10">
      <input type="text" name= "value" class="form-control" id="inputValue" placeholder="Value">
    </div>
  </div>
  <div class="form-group">
    <label for="Interval" class="col-sm-2 control-label">Interval</label>
    <div class="col-sm-10">
      <input type= "text" name= "interval" class="form-control" id="inputValue" placeholder="Interval"> 
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Add an expense</button>
    </div>
  </div>
</form>

<div class="container">
  <h2>Your Expenses</h2>
  <p>Here's a list of your expenses:</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Expense</th>
        <th>Value</th>
        <th>Interval</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
    <% if @expenses %>
      
      <% @expenses.each do |expense| %>
        <tr>
          <td><%=expense.name%></td>
          <td><%=expense.value%></td>
          <td><%=expense.interval%></td>
          <td>
            <form action="/expenses/delete/<%=expense.id%>" method="post">  
            <input type="submit" class="btn btn-danger" value = "Delete an expense"></input>
          </td>
          </form>
        </tr>
      <%end%>
    <%end%>
    </tbody>
  </table>
</div>



