<div id="footer">
 <div class="col-md-2 footer-item label label-default">
   Legal
 </div>
 <div class="col-md-2 footer-item label label-primary">
   <a href="http://www.facebook.com">Facebook</a>
 </div>
 <div class="col-md-2 footer-item label label-info">
   <a href="http://www.twitter.com">Twitter</a>
 </div>
</div>