<div id="footer">
 <!-- <div class="col-md-2 footer-item label label-primary">
   <a href="http://www.facebook.com">Facebook</a>
 </div>
 <div class="col-md-2 footer-item label label-info">
   <a href="http://www.twitter.com">Twitter</a>
 </div>
  <div>
    <ul class="side-by-side">
    <li>Legal<li>
    <li>Contact<li>
    <li>Media<li>
    <li>Careers</li>
    </ul>
  </div>
  <div>
    <ul class="center">
    <li>Site</li>
    <li>Address</li>
    <li>History</li>
    <li>Sponsors</li>
    </ul>
  </div> -->


<div class="col">
  <h2>Social Media</h2>
  <ul>
    <li>Facebook</a></li>
    <li>Twitter</a></li>
    <li>Instagram</a></li>
  </ul>
</div>
<div class="col">
  <h2>Contact Details</h2>
  <ul>
    <li>thinktwice@thinktwice.com</a></li>
    <li>128 W Hastings, Vancouver BC V6B 1G9</a></li>
    <li>+1 604 617 4567</li>
  </ul>
</div>
<div class="col">
  <h2>Legal</h2>
  <ul>
    <li>Security</a></li>
    <li>Terms of Use</a></li>
    <li>Privacy</a></li>
  </ul>
</div>