<div id="footer">
 <div class="col-md-2 footer-item label label-default">
   Legal
 </div>
 <div class="col-md-2 footer-item label label-primary">
   Facebook
 </div>
 <div class="col-md-2 footer-item label label-info">
   Twitter
 </div>
</div>