<div id="nav-bar">
 <div id="profile-image"><a href="/"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=T T&w=80&h=80" /></a>
 </div>
 <div class="nav-btn-container">
   <div class="nav-btn btn btn-default">
     <span class="btn-text">
     <a href='/expenses'>My Expenses</a>
     </span>
   </div>
   <div class="nav-btn btn btn-danger sign-out">
     <span class="btn-text">
     Sign Out
     </span>
   </div>
 </div>
</div>