<div id="nav-bar">
  <div id="profile-image"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=profile&w=80&h=80" />
  </div>
  <div class="nav-btn-container">
    <div class="nav-btn btn btn-default">
      <span class="btn-text">
      <a href = '/expenses'>My Expenses</a>
      </span>
    </div>
    <div class="nav-btn btn btn-danger sign-out">
      <span class="btn-text">
      <%if current_user %>
        <a href="/logout">Sign Out</a>
      <%else%>
        <a href="/login">Sign Out</a>
      <%end%>
      </span>
    </div>
  </div>
</div>

<div class="form-container">
  <img id="home-bg" src="http://girlwhothinks.com/wp-content/uploads/2014/03/growth-from-money.jpg"/>
  <div id="home-form">
    <form method="post" action="/think-twice/"> 
      <label for="amount" class="label label-warning">Think Twice before you spend!</label>
      <input placeholder="How much are you spending?" type="text" name="amount" class="form-control input-sm" value="">
      <input class="btn btn-primary" role="button"  type="submit" value="Submit">
    </form>
  </div>
</div>

<div id="footer">
  <div class="col-md-2 footer-item label label-default">
    Legal
  </div>
  <div class="col-md-2 footer-item label label-primary">
    Facebook
  </div>
  <div class="col-md-2 footer-item label label-info">
    Twitter
  </div>
</div>
