

<div class="form-container">
  <img id="home-bg" src="http://girlwhothinks.com/wp-content/uploads/2014/03/growth-from-money.jpg"/>
  <div id="home-form">
    <form method="post" action="/results"> 
      <label for="amount" class="label label-warning">Think Twice before you spend!</label>
      <input placeholder="How much are you spending?" type="text" name="amount" class="form-control input-sm" value="">
      <input class="btn btn-primary" role="button"  type="submit" value="Submit">
    </form>
  </div>
</div>


